.anchor-list{
  display:flex;
  color: white;
  z-index: 2;
  flex-direction: column;
  width: 40vw;
  height:50vh;
  justify-content: space-between;
  align-items: center;

}
.music-link-item{
  color:white;
  text-decoration: none;
  font-size: 30px;
  padding: 0px 10px 5px 10px;
  border-radius: 16px;
  cursor: pointer;
  background: transparent;
}
.spotify:hover{
  background-color: #1ED760;
  color:black;
}
.apple:hover{
  background-color: #FA2D48;
}
.sound:hover{
  background-image: linear-gradient(to bottom,
  #ff5500,
  #ff3300) ;
}
.insta:hover{
  background-image: linear-gradient(to bottom, 
  #8134AF,
  #DD2A7B,
  #F58529,
  #FEDA77)
}
.tube:hover{
  background-color: #CD201F;

}
.git:hover{
  background-color: white;
  color:black;
}
.banc{
  display:none;
}
.banc:hover{
  background-color: #629aa9;
}
@media(max-width:1024px){
  .banc{
    display: block;
  }
}
@media(max-width: 768px){
  .banc{
    display: block;
  }
  .anchor-list{
    height:55vh;
  }

}
